basePath: /
definitions:
  routers.ResponseImageInfo:
    properties:
      file:
        type: string
      msg:
        type: string
    type: object
info:
  contact:
    email: zscmoyujian@gmail.com
    name: zsc
    url: https://github.com/zoushucai/random-images
  description: API 详细的描述信息 ......
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: API 文档
  version: "1.0"
paths:
  /v1/random:
    get:
      consumes:
      - application/json
      description: 随机返回一张图片
      parameters:
      - description: 图像目录下的子目录
        in: query
        name: sub
        type: string
      - description: 图像目录下的子目录
        in: query
        name: sub
        type: string
      - description: 图像宽度, 默认为 0,则是原始大小
        in: query
        name: width
        type: integer
      - description: 图像高度, 默认为 0,则是原始大小
        in: query
        name: height
        type: integer
      - description: 图像索引, 默认为 -1,则是随机
        in: query
        name: index
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/routers.ResponseImageInfo'
      summary: 随机返回一张图片
      tags:
      - v1
  /v1/upload:
    post:
      consumes:
      - multipart/form-data
      description: 该接口接收一个文件，将其保存到服务器，并将文件信息（包括 MD5 值、文件名、宽高等）存储在内存中
      parameters:
      - description: 要上传的文件
        in: formData
        name: file
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/routers.ResponseImageInfo'
      summary: 上传文件并保存到服务器
      tags:
      - v1
swagger: "2.0"
